@import './base.css';

* {
  margin: 0;
  padding: 0;
}

.img {
  max-width: 3%;
}

body {
  background: url('../assets/homeBG.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#app {
  height: 100vh;
}

@font-face {
  font-family: 'Press Start 2p';
  src: url('../assets/fonts/PressStart2P-Regular.ttf')
}

@font-face {
  font-family: 'Super Mario';
  src: url('../assets/fonts/superMario.ttf')
}

.button {
  font-family: 'Press Start 2p';
  text-align: center;
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
}

.button:hover {
  font-family: 'Press Start 2p';
  text-align: center;
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
}